node-red-litres-lescala.txt
[{"id":"dd18ff31.1893c","type":"rpi-gpio in","z":"db63286d.e2af68","name":"GPIO18","pin":"12","intype":"up","debounce":"25","read":false,"x":137.16678619384766,"y":814.6667633056641,"wires":[["da75d578.c10c88"]]},{"id":"d878130.0de24f","type":"function","z":"db63286d.e2af68","name":"Reset","func":"//msg.reset = msg.payload[0].liter\nmsg.reset = msg.payload[0].liters;\nflow.set('last_cumulated', msg.payload[0].liters)\nreturn msg;","outputs":1,"noerr":0,"x":799.73828125,"y":885.0955438613892,"wires":[["9181c9f3.955848"]]},{"id":"9181c9f3.955848","type":"counter","z":"db63286d.e2af68","name":"","init":"0","step":1,"lower":"","upper":"","mode":"increment","outputs":"1","x":475.16687774658203,"y":778.0000877380371,"wires":[["8b9c24c9.af2798"]]},{"id":"4f73a48e.5f2b3c","type":"inject","z":"db63286d.e2af68","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":122.16678237915039,"y":779.0001354217529,"wires":[["9181c9f3.955848"]]},{"id":"8b9c24c9.af2798","type":"function","z":"db63286d.e2af68","name":"Mostra comptador","func":"var newMsg = {payload: msg.count};\nflow.set('cumulated', newMsg);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":692.1668014526367,"y":778.6668243408203,"wires":[["e9f31c58.53729","2a0e837f.1a67fc","33c5e0b3.5ad16","45a9158e.89985c"]]},{"id":"e9f31c58.53729","type":"debug","z":"db63286d.e2af68","name":"Comptador polsos","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1276.1666946411133,"y":847.0000877380371,"wires":[]},{"id":"da75d578.c10c88","type":"switch","z":"db63286d.e2af68","name":"only 0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":289.7779312133789,"y":805.6667747497559,"wires":[["9181c9f3.955848"]]},{"id":"57ba9e52.1a3c2","type":"ui_text_input","z":"db63286d.e2af68","name":"","label":"calibracio nou valor litres","tooltip":"","group":"b7e49f24.3f66e","order":12,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":176.3096160888672,"y":993.9047927856445,"wires":[["53546bb2.284e04"]]},{"id":"9f58b8b4.67b518","type":"comment","z":"db63286d.e2af68","name":"Manually correct differences between cumulated liters and real counter count","info":"","x":326.7779083251953,"y":945.0001363754272,"wires":[]},{"id":"95a2b6f3.6ef068","type":"comment","z":"db63286d.e2af68","name":"Liters counter algorithm","info":"","x":165.1112518310547,"y":744.6191701889038,"wires":[]},{"id":"9e56a2a.677a46","type":"comment","z":"db63286d.e2af68","name":"Setup Global variables and initial values","info":"","x":209.27780151367188,"y":36.333343505859375,"wires":[]},{"id":"483de6bb.3250c8","type":"inject","z":"db63286d.e2af68","name":"On start up","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":183.61111958821613,"y":79.99999999999999,"wires":[["b3b9bbd1.e668b8"]]},{"id":"2a0e837f.1a67fc","type":"ui_chart","z":"db63286d.e2af68","name":"Consum comptador en litres acumulats","group":"b7e49f24.3f66e","order":14,"width":"6","height":"4","label":"Consum comptador en litres acumulats","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"102000","ymax":"108000","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1306.5001602172852,"y":892.5000820159912,"wires":[[]]},{"id":"9340bb05.c5e1e8","type":"mysql","z":"db63286d.e2af68","mydb":"812e0115.788d1","name":"lescala","x":651.166862487793,"y":895.1432552337646,"wires":[["d878130.0de24f","3e9147f3.7ba888"]]},{"id":"41dafcfe.ef5bf4","type":"inject","z":"db63286d.e2af68","name":"On startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":151.49996185302734,"y":890.1429224014282,"wires":[["c46c6ef2.1cba8"]]},{"id":"c46c6ef2.1cba8","type":"function","z":"db63286d.e2af68","name":"SQL query SELECT","func":"msg.topic = \"select liters from wetter where id = 1\";\nreturn msg;","outputs":1,"noerr":0,"x":401.99998474121094,"y":895.6429395675659,"wires":[["9340bb05.c5e1e8"]]},{"id":"428a8acf.33db54","type":"comment","z":"db63286d.e2af68","name":"msg.payload[0].liters","info":"","x":770.2620086669922,"y":843.5239849090576,"wires":[]},{"id":"3d1b89f4.920616","type":"comment","z":"db63286d.e2af68","name":"Cumulated liters stored on 'liters' register id=0 on 'wetter' table","info":"","x":617.6429824829102,"y":740.8573122024536,"wires":[]},{"id":"394c69c8.3bdf66","type":"function","z":"db63286d.e2af68","name":"get flow variable cumulated liters and calculate delta/h","func":"\nvar l2=flow.get('cumulated');\nvar l1=flow.get('last_cumulated');\nvar newMsg= {payload:(l2.payload-l1.payload)};\nflow.set('consumption', newMsg); \nreturn l2;","outputs":1,"noerr":0,"x":528.4285659790038,"y":1198.857244491577,"wires":[["269f9677.1c0a5a","eb3f5433.dad468","a10a6ce1.c1b47"]]},{"id":"47b1e919.b819d8","type":"inject","z":"db63286d.e2af68","name":"once per hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":125.28572463989258,"y":1228.5715637207031,"wires":[["394c69c8.3bdf66"]]},{"id":"79e28ba0.5c83b4","type":"comment","z":"db63286d.e2af68","name":"Insert liters each hour to database and store last_cumulated value","info":"","x":255.42861938476562,"y":1127.214635848999,"wires":[]},{"id":"b3b9bbd1.e668b8","type":"function","z":"db63286d.e2af68","name":"Define flow visible variables 'cumulated'","func":"flow.cumulated = flow.cumulated || 0;\nflow.last_cumulated = flow.last_cumulated || 0;\nflow.last_minute = flow.last_minute || 0;\nflow.last_seconds = flow.last_seconds || 0;\nflow.consumption = flow.consumption || 0;\nflow.consumtion_minute = flow.consumtion_minute || 0;\nflow.consumtion_seconds = flow.consumtion_seconds || 0;\nflow.temperature = flow.temperature || 0;\nflow.humidity = flow.humidity || 0;\nflow.pressure = flow.pressure || 0;\nflow.set('last_cumulated', 0);\nflow.set('last_minute', 0);\nflow.set('last_seconds', 0);\nreturn msg;","outputs":1,"noerr":0,"x":618.6428985595703,"y":29.928593635559082,"wires":[[]]},{"id":"269f9677.1c0a5a","type":"function","z":"db63286d.e2af68","name":"SQL query insert","func":"var litres=flow.get('cumulated');\nvar consum=flow.get('consumption');\n//var temperatura=flow.get('temperature');\n//var humitat=flow.get('humidity');\n//var presio=flow.get('pressure');\n\n/*var newMsg = {\n    \"payload\" : \"\",\n    \"topic\" : \"INSERT INTO wetter (dateandtime,consumption,liters,temperature,humidity,pressure)\"+\n    \"VALUES (NOW(),\"+\n    consum.payload+\",\"+litres.payload+\n    \",\"+temperatura.payload+\",\"+humitat.payload+\n    \",\"+presio.payload+\")\"\n};\n*/\n/*var newMsg = {\n    \"payload\" : \"\",\n    \"topic\" : \"INSERT INTO wetter (dateandtime,consumption,liters)\"+\n    \"VALUES (NOW(),\"+\n    consum.payload+\",\"+litres.payload+\")\"\n}; \n*/\nvar newMsg = {\n    \"payload\" : \"\",\n    \"topic\" : \"INSERT INTO wetter (dateandtime,consumption,liters)\"+\n    \"VALUES (NOW(),\"+\n    consum.payload+\",\"+litres.payload+\")\"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":906.9285430908203,"y":1168.3576469421387,"wires":[["5d59bc3c.bcff94"]]},{"id":"5d59bc3c.bcff94","type":"mysql","z":"db63286d.e2af68","mydb":"812e0115.788d1","name":"","x":1196.9286193847656,"y":1192.7861518859863,"wires":[["5a5ec8b0.5ab208"]]},{"id":"6920fd31.cbb0c4","type":"inject","z":"db63286d.e2af68","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.42856979370117,"y":1191.428798675537,"wires":[["394c69c8.3bdf66"]]},{"id":"eb3f5433.dad468","type":"function","z":"db63286d.e2af68","name":"SQL query update liters on index 1","func":"var litres = {payload: msg.payload};\nvar newMsg = {\n    \"payload\" : \"\",\n    \"topic\" : \"update wetter set liters = \"+\n    litres.payload+\" where id=1 \"\n    \n    \n    \n}; \n\nreturn newMsg;","outputs":1,"noerr":0,"x":946.500244140625,"y":1127.5718612670898,"wires":[["91a05091.3fe98"]]},{"id":"91a05091.3fe98","type":"mysql","z":"db63286d.e2af68","mydb":"812e0115.788d1","name":"","x":1320.9286270141602,"y":1126.00071144104,"wires":[[]]},{"id":"53546bb2.284e04","type":"function","z":"db63286d.e2af68","name":"SQL query update liters on index 1","func":"var litres = {payload: msg.payload};\nvar newMsg = {\n    \"payload\" : \"\",\n    \"topic\" : \"update wetter set liters = \"+\n    litres.payload+\" where id=1 \"\n    \n    \n    \n}; \n\nreturn newMsg;","outputs":1,"noerr":0,"x":479.5001678466797,"y":998.0000777244568,"wires":[["fb9903d3.340a"]]},{"id":"fb9903d3.340a","type":"mysql","z":"db63286d.e2af68","mydb":"812e0115.788d1","name":"","x":751.9286041259766,"y":996.000078201294,"wires":[["c46c6ef2.1cba8"]]},{"id":"a10a6ce1.c1b47","type":"debug","z":"db63286d.e2af68","name":"cumulated each hour","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.5357055664059,"y":1217.714399337768,"wires":[]},{"id":"5e592f75.f6af5","type":"function","z":"db63286d.e2af68","name":"show cumulated","func":"var newMsg=flow.get('cumulated');\nreturn newMsg;","outputs":1,"noerr":0,"x":614.4645080566406,"y":68.42861461639404,"wires":[["47113bdd.692604"]]},{"id":"47113bdd.692604","type":"debug","z":"db63286d.e2af68","name":"show cumulated","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1067.6787490844727,"y":39.714322090148926,"wires":[]},{"id":"f0f437ad.7f21d8","type":"debug","z":"db63286d.e2af68","name":"show last_cumulated","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070.8215713500977,"y":81.28575706481934,"wires":[]},{"id":"6aa14449.58769c","type":"inject","z":"db63286d.e2af68","name":"Click to test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":176.42856979370117,"y":118.00002098083496,"wires":[["5e592f75.f6af5","581567b4.c0b528","97132282.fe988","c45d7d17.75fb2","75c141b8.9cfeb"]]},{"id":"581567b4.c0b528","type":"function","z":"db63286d.e2af68","name":"show last_cumulated","func":"var newMsg=flow.get('last_cumulated');\nreturn newMsg;","outputs":1,"noerr":0,"x":626.1429824829102,"y":99.71431350708008,"wires":[["f0f437ad.7f21d8"]]},{"id":"97132282.fe988","type":"function","z":"db63286d.e2af68","name":"show temperature","func":"msg.payload=flow.get('temperature');\nreturn msg;","outputs":1,"noerr":0,"x":626.6071929931641,"y":128.21434688568115,"wires":[["3a8ae6ec.cf997a"]]},{"id":"3a8ae6ec.cf997a","type":"debug","z":"db63286d.e2af68","name":"show temperature","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1088.7500228881836,"y":119.28575897216797,"wires":[]},{"id":"e8a9569c.4849c8","type":"inject","z":"db63286d.e2af68","name":"each minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150.86907196044922,"y":581.1667327880859,"wires":[["a4f6c757.2b3f08"]]},{"id":"a4f6c757.2b3f08","type":"function","z":"db63286d.e2af68","name":"Calculate Delta liters/minute","func":"var l2=flow.get('cumulated');\nvar l1=flow.get('last_minute');\nvar newMsg= {payload:(l2.payload-l1.payload)};\nflow.set('consumtion_minute', newMsg);\nflow.set('last_minute', l2);\nreturn newMsg;","outputs":1,"noerr":0,"x":442.3692169189453,"y":578.3810205459595,"wires":[["b18dca9e.c63258","1cec922e.e36fce","674aa3ad.456b1c"]]},{"id":"b18dca9e.c63258","type":"debug","z":"db63286d.e2af68","name":"show delta minute","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1068.7026062011719,"y":482.6430654525757,"wires":[]},{"id":"c45d7d17.75fb2","type":"function","z":"db63286d.e2af68","name":"show last minute","func":"var newMsg=flow.get('last_minute');\nreturn newMsg;","outputs":1,"noerr":0,"x":615.297737121582,"y":157.97627067565918,"wires":[["70a39a5f.6399b4"]]},{"id":"70a39a5f.6399b4","type":"debug","z":"db63286d.e2af68","name":"show last minute","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090.6549606323242,"y":156.19060707092285,"wires":[]},{"id":"33c5e0b3.5ad16","type":"ui_text","z":"db63286d.e2af68","group":"b7e49f24.3f66e","order":14,"width":0,"height":0,"name":"Litres acumulats","label":"Litres acumulats","format":"{{msg.payload}}","layout":"row-spread","x":1283.5356483459473,"y":803.7857313156128,"wires":[]},{"id":"45a9158e.89985c","type":"blynk-ws-out-write","z":"db63286d.e2af68","name":"Litres","pin":"0","pinmode":0,"client":"182f305d.7a34c","x":1282.2025337219238,"y":671.6905813217163,"wires":[]},{"id":"3e9147f3.7ba888","type":"debug","z":"db63286d.e2af68","name":"Reset","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":911.6905307769775,"y":936.0477018356323,"wires":[]},{"id":"1cec922e.e36fce","type":"ui_gauge","z":"db63286d.e2af68","name":"consum litres/minut","group":"b7e49f24.3f66e","order":9,"width":"2","height":"2","gtype":"gage","title":"consum litres/min","label":"l/m","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1052.3573837280273,"y":608.6668782234192,"wires":[]},{"id":"674aa3ad.456b1c","type":"blynk-ws-out-write","z":"db63286d.e2af68","name":"consum/min","pin":"2","pinmode":0,"client":"182f305d.7a34c","x":1082.0240898132324,"y":540.7741470336914,"wires":[]},{"id":"7796ffde.797c8","type":"inject","z":"db63286d.e2af68","name":"each 10 seconds","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":160.6905059814453,"y":671.6667385101318,"wires":[["3a2a023f.81b2ce"]]},{"id":"bc809343.38d8d","type":"debug","z":"db63286d.e2af68","name":"show delta 10 seconds","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1025.6905364990234,"y":677.9048118591309,"wires":[]},{"id":"3a2a023f.81b2ce","type":"function","z":"db63286d.e2af68","name":"Calculate Delta liters/10 seconds","func":"var l2=flow.get('cumulated');\nvar l1=flow.get('last_seconds');\nvar newMsg= {payload:(l2.payload-l1.payload)};\nflow.set('consumtion_seconds', newMsg);\nflow.set('last_seconds', l2);\nreturn newMsg;","outputs":1,"noerr":0,"x":498.6734924316406,"y":677.7143821716309,"wires":[["bc809343.38d8d","c60a84e1.935368"]]},{"id":"75c141b8.9cfeb","type":"function","z":"db63286d.e2af68","name":"show last 10 seconds","func":"var newMsg=flow.get('last_seconds');\nreturn newMsg;","outputs":1,"noerr":0,"x":365.8163299560547,"y":198.5714750289917,"wires":[["b7fa8e25.5bfec"]]},{"id":"b7fa8e25.5bfec","type":"debug","z":"db63286d.e2af68","name":"show last 11 seconds","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650.1020660400391,"y":197.75514030456543,"wires":[]},{"id":"c60a84e1.935368","type":"blynk-ws-out-write","z":"db63286d.e2af68","name":"Consum/10secs","pin":"3","pinmode":0,"client":"182f305d.7a34c","x":828.6012344360352,"y":639.7976713180542,"wires":[]},{"id":"2b51831d.c74e8c","type":"switch","z":"db63286d.e2af68","name":"switch consum>","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"350","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1191.7980346679688,"y":1363.142822265625,"wires":[["918cce8c.fb27e","8c0986b4.72a4c8"]]},{"id":"918cce8c.fb27e","type":"debug","z":"db63286d.e2af68","name":"Consum > 10 litres / hora","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1464.6314697265625,"y":1321.4763164520264,"wires":[]},{"id":"447a75fe.0a4fcc","type":"ui_gauge","z":"db63286d.e2af68","name":"Consum Litres/hora","group":"b7e49f24.3f66e","order":1,"width":"2","height":"2","gtype":"gage","title":"Consum Litres hora","label":"L/h","format":"{{value}}","min":0,"max":"280","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1296.1311798095703,"y":1406.8095722198486,"wires":[]},{"id":"8c0986b4.72a4c8","type":"pushover","z":"db63286d.e2af68","name":"consum aigua ","device":"iPhonedeXavier","title":"Consum aigua LEscala","priority":0,"sound":"spacealarm","url":"","url_title":"","html":false,"x":1468.4648971557617,"y":1362.976266860962,"wires":[]},{"id":"5a5ec8b0.5ab208","type":"function","z":"db63286d.e2af68","name":"Reset last cumulated","func":"var newMsg=flow.get('consumption');\nvar l1=flow.get('cumulated');\nflow.set('last_cumulated',l1);\nreturn newMsg;","outputs":1,"noerr":0,"x":648.6667633056641,"y":1404.9761791229248,"wires":[["83b53a8.c8316c8","2b51831d.c74e8c","447a75fe.0a4fcc","66b3286a.468178","c5c3a156.d217e","40ec85f6.d070cc"]]},{"id":"83b53a8.c8316c8","type":"debug","z":"db63286d.e2af68","name":"show delta","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":987.6669540405273,"y":1338.9286060333252,"wires":[]},{"id":"66b3286a.468178","type":"ui_chart","z":"db63286d.e2af68","name":"consum litres/h","group":"b7e49f24.3f66e","order":13,"width":0,"height":0,"label":"consum  litres/h","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"280","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1274.0001831054688,"y":1441.8571119308472,"wires":[[]]},{"id":"c5c3a156.d217e","type":"blynk-ws-out-write","z":"db63286d.e2af68","name":"Consum/h","pin":"1","pinmode":0,"client":"182f305d.7a34c","x":1293.6669006347656,"y":1479.1667518615723,"wires":[]},{"id":"fe5ae358.8e1f6","type":"comment","z":"db63286d.e2af68","name":"To never loose track of last hour liters in case of Deploy or reboot","info":"","x":1254.4286270141602,"y":1082.0000820159912,"wires":[]},{"id":"1a0b25a8.d7f70a","type":"serial out","z":"db63286d.e2af68","name":"Raspberry Serial to MKRFOX1200","serial":"288e2e31.7ffd72","x":1090.4285278320312,"y":302.78582763671875,"wires":[]},{"id":"d4d56036.5167f","type":"function","z":"db63286d.e2af68","name":"Get cumulated","func":"var newMsg=flow.get('cumulated')\n\nreturn newMsg;","outputs":1,"noerr":0,"x":619.9285888671875,"y":321.3572692871094,"wires":[["1a0b25a8.d7f70a","16d8e5f4.a8feaa","852d118c.b94"]]},{"id":"c62912c0.9f374","type":"inject","z":"db63286d.e2af68","name":"Each 10 seconds send cumulated to serial","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":261.4285583496094,"y":323.0001335144043,"wires":[["d4d56036.5167f"]]},{"id":"16d8e5f4.a8feaa","type":"debug","z":"db63286d.e2af68","name":"serial","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060.4285430908203,"y":350.64295768737793,"wires":[]},{"id":"a5568d93.bc1af","type":"inject","z":"db63286d.e2af68","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":172.50000381469727,"y":1630.8571453094482,"wires":[["f7578e94.1929a"]]},{"id":"f7578e94.1929a","type":"function","z":"db63286d.e2af68","name":"Parse","func":"//var temperature = {payload:msg.payload.temperature_C};\n//var humidity = {payload:msg.payload.humidity.toFixed(2)};\n//var pressure = {payload:msg.payload.pressure_hPa.toFixed(2)};\n//flow.set('temperature',25);\n//flow.set('humidity',50);\n//flow.set('pressure',1100);\n//return [temperature, humidity, pressure];","outputs":3,"noerr":0,"x":573.500150680542,"y":1649.8571453094482,"wires":[["f692a4e5.e1e7e8","ced8ed39.e4b51"],["680d1549.42f13c","beb4730e.b7643"],["3acaa896.1152c8","94dc2014.f2e1b"]]},{"id":"ced8ed39.e4b51","type":"debug","z":"db63286d.e2af68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1243.5002899169922,"y":1633.8572044372559,"wires":[]},{"id":"beb4730e.b7643","type":"debug","z":"db63286d.e2af68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210.500286102295,"y":1735.857138633728,"wires":[]},{"id":"3acaa896.1152c8","type":"debug","z":"db63286d.e2af68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":802.5000610351562,"y":1814.857141494751,"wires":[]},{"id":"f692a4e5.e1e7e8","type":"ui_gauge","z":"db63286d.e2af68","name":"Temperatura L'Escala","group":"b7e49f24.3f66e","order":2,"width":"2","height":"2","gtype":"gage","title":"Temperatura L'Escala","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030.6669158935547,"y":1603.6906299591064,"wires":[]},{"id":"680d1549.42f13c","type":"ui_gauge","z":"db63286d.e2af68","name":"Humitat L'Escala","group":"b7e49f24.3f66e","order":3,"width":"2","height":"2","gtype":"gage","title":"Humitat L'Escala","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1191.5002899169922,"y":1684.8571367263794,"wires":[]},{"id":"94dc2014.f2e1b","type":"ui_gauge","z":"db63286d.e2af68","name":"Pressio L'Escala","group":"b7e49f24.3f66e","order":4,"width":"2","height":"2","gtype":"gage","title":"Pressio L'Escala","label":"hPa","format":"{{value}}","min":"990","max":"1050","colors":["#b5001b","#e6e600","#38ca3f"],"seg1":"","seg2":"","x":908.5000610351562,"y":1755.8571395874023,"wires":[]},{"id":"a06daab9.d955a8","type":"inject","z":"db63286d.e2af68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":172.5,"y":1680.8571510314941,"wires":[["f7578e94.1929a"]]},{"id":"f6786d85.9d824","type":"comment","z":"db63286d.e2af68","name":"Real Temperature, humidity and pressure sensor measurement","info":"","x":269.1111373901367,"y":1576.5238542556763,"wires":[]},{"id":"90f74c73.6c9c9","type":"inject","z":"db63286d.e2af68","name":"On startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":154.42855834960935,"y":392.57142639160145,"wires":[["b6bddcdb.d9ad7"]]},{"id":"b6bddcdb.d9ad7","type":"function","z":"db63286d.e2af68","name":"Calculate Delta liters/hour","func":"var l2=flow.get('cumulated');\nvar l1=flow.get('last_cumulated');\nvar newMsg= {payload:(l2.payload-l1.payload)};\nflow.set('consumption', newMsg); \nflow.set('last_cumulated', l2); \nreturn newMsg;","outputs":1,"noerr":0,"x":576.4285583496093,"y":390.00001525878895,"wires":[["2d7f242c.1b222c"]]},{"id":"2d7f242c.1b222c","type":"debug","z":"db63286d.e2af68","name":"show consumption","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060.4285583496091,"y":402.57147216796864,"wires":[]},{"id":"40ec85f6.d070cc","type":"e-mail","z":"db63286d.e2af68","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"xavier.florensa.b@gmail.com","dname":"Xavier Florensa","x":974.4285621643066,"y":1503.4285869598389,"wires":[]},{"id":"852d118c.b94","type":"serial out","z":"db63286d.e2af68","name":"Raspberry Serial to Heltec LoRa","serial":"da858396.ee616","x":1086.0000305175781,"y":253.00000381469727,"wires":[]},{"id":"b7e49f24.3f66e","type":"ui_group","z":"","name":"L'Escala","tab":"63ae642f.3af35c","disp":true,"width":"6","collapse":true},{"id":"812e0115.788d1","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"lescala","tz":""},{"id":"182f305d.7a34c","type":"blynk-ws-client","z":"","name":"Blink","path":"ws://blynk-cloud.com/websockets","key":"fffe165b47ab465a8bb6cdf882f2f84e","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"288e2e31.7ffd72","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"da858396.ee616","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"63ae642f.3af35c","type":"ui_tab","z":"","name":"Lescala","icon":"dashboard","disabled":false,"hidden":false}]