simplificat_abril_2021.json
[{"id":"f76104f9.890e88","type":"counter","z":"1405ab81.0960c4","name":"","init":"0","step":1,"lower":"","upper":"","mode":"increment","outputs":"1","x":471.33349609375,"y":158.33334255218506,"wires":[["8314df21.cb2d7"]]},{"id":"581a5ab6.7a0bf4","type":"inject","z":"1405ab81.0960c4","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":118.33340072631836,"y":159.33339023590088,"wires":[["f76104f9.890e88"]]},{"id":"4584cec5.89aba","type":"switch","z":"1405ab81.0960c4","name":"only 0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":285.9445495605469,"y":186.0000295639038,"wires":[["f76104f9.890e88"]]},{"id":"86da4979.c83018","type":"comment","z":"1405ab81.0960c4","name":"Liters counter algorithm","info":"","x":161.27787017822266,"y":124.95242500305176,"wires":[]},{"id":"a3797ec0.abb86","type":"comment","z":"1405ab81.0960c4","name":"Cumulated liters stored on 'liters' register id=0 on 'wetter' table","info":"","x":613.8096008300781,"y":121.19056701660156,"wires":[]},{"id":"41ed243d.2a342c","type":"change","z":"1405ab81.0960c4","name":"","rules":[{"t":"set","p":"acumulats","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1011.6667556762695,"y":153.33334064483643,"wires":[[]]},{"id":"33f131e3.c426be","type":"debug","z":"1405ab81.0960c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":987.0238494873047,"y":194.5238208770752,"wires":[]},{"id":"f2811aa1.05ba78","type":"function","z":"1405ab81.0960c4","name":"Reset","func":"msg.reset = msg.payload[0].liters;\nmsg.payload = msg.payload[0].liters;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":273.33331298828125,"wires":[["f76104f9.890e88","a3a88a12.bab988"]]},{"id":"993c3e6f.c927d","type":"mysql","z":"1405ab81.0960c4","mydb":"812e0115.788d1","name":"lescala","x":541.428581237793,"y":283.38102436065674,"wires":[["f2811aa1.05ba78"]]},{"id":"1cbbb4ee.f08ffb","type":"function","z":"1405ab81.0960c4","name":"SQL query SELECT","func":"msg.topic = \"select liters from wetter ORDER by ID DESC LIMIT 1\";\nreturn msg;","outputs":1,"noerr":0,"x":337.26170349121094,"y":283.8807258605957,"wires":[["993c3e6f.c927d"]]},{"id":"c64106fd.e0bd88","type":"inject","z":"1405ab81.0960c4","name":"On startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":99.99999237060547,"y":283.33331298828125,"wires":[["1cbbb4ee.f08ffb"]]},{"id":"27dc9a59.8ba196","type":"comment","z":"1405ab81.0960c4","name":"Get cumulated on startup","info":"","x":202.02379862467447,"y":237.14286804199216,"wires":[]},{"id":"a3a88a12.bab988","type":"debug","z":"1405ab81.0960c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":855.3571510314941,"y":305.71432876586914,"wires":[]},{"id":"203908aa.664b48","type":"inject","z":"1405ab81.0960c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":117.02379862467446,"y":356.66666666666663,"wires":[["1cbbb4ee.f08ffb"]]},{"id":"8314df21.cb2d7","type":"function","z":"1405ab81.0960c4","name":"Mostra comptador","func":"var newMsg = {payload: msg.count};\nflow.set('cumulated', newMsg);\n\nreturn newMsg;","outputs":1,"noerr":0,"x":738.3333129882812,"y":153.3333282470703,"wires":[["41ed243d.2a342c","33f131e3.c426be"]]},{"id":"41ef0bee.bc5824","type":"function","z":"1405ab81.0960c4","name":"get flow variable cumulated liters","func":"msg.payload=flow.get('acumulats');\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":469.9999694824219,"wires":[["ff534d4d.573ab","235a1808.c8ec68","7c998685.fa6058"]]},{"id":"4c820a87.647304","type":"inject","z":"1405ab81.0960c4","name":"once per hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":136.85715866088879,"y":499.7142887115481,"wires":[["41ef0bee.bc5824"]]},{"id":"157a2c31.18ddc4","type":"comment","z":"1405ab81.0960c4","name":"Insert liters each hour to database and store last_cumulated value","info":"","x":267.00005340576183,"y":398.357360839844,"wires":[]},{"id":"ff534d4d.573ab","type":"function","z":"1405ab81.0960c4","name":"INFLUXDB 2.o Cloud query insert","func":"\nreturn msg;","outputs":1,"noerr":0,"x":898.5000381469727,"y":477.83374786376953,"wires":[["a698c618.df3a98"]]},{"id":"8faf6fc0.6eed8","type":"inject","z":"1405ab81.0960c4","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112.00000381469738,"y":462.57152366638206,"wires":[["41ef0bee.bc5824"]]},{"id":"235a1808.c8ec68","type":"function","z":"1405ab81.0960c4","name":"SQL query insert","func":"var litres=flow.get('cumulated');\nvar newMsg = {\n    \"payload\" : \"\",\n    \"topic\" : \"INSERT INTO wetter (dateandtime,liters)\"+\n    \"VALUES (NOW(),\"+litres.payload+\")\"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":908.0716781616211,"y":398.7145862579348,"wires":[["1d78fd63.fe4053"]]},{"id":"1d78fd63.fe4053","type":"mysql","z":"1405ab81.0960c4","mydb":"812e0115.788d1","name":"","x":1124.1668395996094,"y":395.4767770767212,"wires":[[]]},{"id":"7c998685.fa6058","type":"debug","z":"1405ab81.0960c4","name":"cumulated each hour","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":972.9643287658691,"y":531.0000009536743,"wires":[]},{"id":"9fe359fc.644288","type":"comment","z":"1405ab81.0960c4","name":"Store liters cumulated on local MySQL","info":"","x":961.0002136230469,"y":359.8096122741699,"wires":[]},{"id":"a698c618.df3a98","type":"debug","z":"1405ab81.0960c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1157.0240440368652,"y":479.76201248168945,"wires":[]},{"id":"6470a526.505f2c","type":"comment","z":"1405ab81.0960c4","name":" Store liters on InfluxDB 2.0 cloud once per hour","info":"","x":988.3333435058594,"y":444.99997329711914,"wires":[]},{"id":"7f1fa441.80a3bc","type":"comment","z":"1405ab81.0960c4","name":"InfluxDB Cloud injection","info":"","x":830.4761810302734,"y":706.9047355651855,"wires":[]},{"id":"25ffd571.1d715a","type":"function","z":"1405ab81.0960c4","name":"curl","func":"msg.payload = 'curl -POST \"https://eu-central-1-1.aws.cloud2.influxdata.com/api/v2/write?org=xavier.florensa@yahoo.com&bucket=LITERS&precision=s\" --header \"Authorization: Token uBHQyNc_XgnARkw82z5ztR_UzjBJXQACVoKCvLcsS6LNDfvW--N4kStTtv0W_ohDXIDpLy07Bz0PJnkoJXD6Kg==\" --data-raw \"mem,host=host1 '\nreturn msg;","outputs":1,"noerr":0,"x":480.47618103027344,"y":646.9047355651855,"wires":[["5527a723.ebed38","be67e6a6.70df58"]]},{"id":"80df2db4.fe04c","type":"debug","z":"1405ab81.0960c4","name":"","active":false,"console":false,"complete":"false","x":1055.4761810302734,"y":627.9047355651855,"wires":[]},{"id":"7cd0dbb4.6412a4","type":"debug","z":"1405ab81.0960c4","name":"","active":false,"console":false,"complete":"false","x":1052.4761810302734,"y":674.9047355651855,"wires":[]},{"id":"b8579488.f7e188","type":"debug","z":"1405ab81.0960c4","name":"","active":false,"console":false,"complete":"false","x":1052.4761810302734,"y":715.9047355651855,"wires":[]},{"id":"5527a723.ebed38","type":"function","z":"1405ab81.0960c4","name":"data=topic","func":"var data = msg.topic\nmsg.payload=msg.payload + data + '\"'\nreturn msg;","outputs":1,"noerr":0,"x":640.9761810302734,"y":658.9047355651855,"wires":[["337223b1.30bd4c","79e397ea.724558"]]},{"id":"be67e6a6.70df58","type":"debug","z":"1405ab81.0960c4","name":"curl","active":false,"console":false,"complete":"payload","x":660.4761810302734,"y":606.9047355651855,"wires":[]},{"id":"337223b1.30bd4c","type":"debug","z":"1405ab81.0960c4","name":"curl + data","active":true,"console":false,"complete":"payload","x":860.4761810302734,"y":606.9047355651855,"wires":[]},{"id":"79e397ea.724558","type":"exec","z":"1405ab81.0960c4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"curl http exec","x":861.4761810302734,"y":662.4047355651855,"wires":[["80df2db4.fe04c"],["7cd0dbb4.6412a4"],["b8579488.f7e188"]]},{"id":"b50623ff.7a5fc","type":"function","z":"1405ab81.0960c4","name":"topic=data","func":"msg.topic ='liters=408490';\nreturn msg;","outputs":1,"noerr":0,"x":300.47618103027344,"y":646.9047355651855,"wires":[["25ffd571.1d715a","f144e1e.0b7852"]]},{"id":"be0862e6.1d58f","type":"inject","z":"1405ab81.0960c4","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":120.47618103027344,"y":646.9047355651855,"wires":[["b50623ff.7a5fc"]]},{"id":"18a2a628.41227a","type":"comment","z":"1405ab81.0960c4","name":"InfluxDB Cloud injection","info":"","x":150.47618103027344,"y":686.9047355651855,"wires":[]},{"id":"ecc63591.797f18","type":"function","z":"1405ab81.0960c4","name":"topic=data","func":"var litres = global.get('acumulats');\n\nmsg.topic ='liters='+litres;\nreturn msg;","outputs":1,"noerr":0,"x":358.57147216796875,"y":586.326696395874,"wires":[["6975e15.fb64c2","25ffd571.1d715a"]]},{"id":"33aa6759.e817e8","type":"inject","z":"1405ab81.0960c4","name":"once per 10 seconds","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":155.7142791748047,"y":587.7551765441895,"wires":[["ecc63591.797f18"]]},{"id":"6975e15.fb64c2","type":"debug","z":"1405ab81.0960c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550.30615234375,"y":568.7755661010742,"wires":[]},{"id":"f144e1e.0b7852","type":"debug","z":"1405ab81.0960c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":498.87754167829235,"y":705.9183829171317,"wires":[]},{"id":"6341d9b3.c9f2a8","type":"mqtt out","z":"1405ab81.0960c4","name":"","topic":"litres_acumulats","qos":"","retain":"","broker":"8832da32.bc1638","x":554.5918045043945,"y":744.6939611434937,"wires":[]},{"id":"c2457b47.1aace8","type":"function","z":"1405ab81.0960c4","name":"","func":"msg.payload = global.get('acumulats');\nreturn msg;","outputs":1,"noerr":0,"x":358.87755966186523,"y":748.3674907684326,"wires":[["6341d9b3.c9f2a8"]]},{"id":"ecc54ac6.ded2a8","type":"inject","z":"1405ab81.0960c4","name":"once per 2 seconds","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":148.57142639160156,"y":751.0204467773438,"wires":[["c2457b47.1aace8"]]},{"id":"812e0115.788d1","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"lescala","tz":""},{"id":"8832da32.bc1638","type":"mqtt-broker","z":"1405ab81.0960c4","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]